.branch-card{
    margin-top: 32px;
    @include pad{
        margin-top: 24px;
        display: block;
    }
    @include mobile{
        margin-top: 20px;
    }
}

.branch-profile{
    width: 40%;
    margin-right: 2.7%;
    @include pad{
        display: flex;
        width: 100%;
        margin-bottom: 32px;
    }
    @include mobile{
        display: block;
        margin-bottom: 16px;
    }
}

.branch-photo{
    @include pad{
        width: 47.8%;
        margin-right: 4.3%;
    }
    @include mobile{
        width: 100%;
        margin-right: 0;
    }
}

.branch-info{
    @include pad{
        width: 47.8%;
    }
    @include mobile{
        width: 100%;
    }
    h3{
        border: 1px solid #00000020;
        padding: 12px 0;
        padding-left: 24px;
        @include pad{
            font-size: $size-base;
            font-weight: bold;
            padding: 8.5px 0;
            padding-left: 16px;
        }
        @include mobile{
            padding: 8px 0;
            padding-left: 24px;
        }
    }
}

.branch-map{
    width: 57.3%;
    @include pad{
        width: 100%;
        height: 442px;
    }
    @include mobile{
        height: 211px;
    }
}