*, *:before, *:after{
    box-sizing: border-box;
}

body{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
	line-height: 1.5;
}

img{
    max-width: 100%;
    height: auto;
	vertical-align: middle;
}

ul a{
	color: inherit;
}

a{
	text-decoration: none;
	&:hover{
		color: $gray-300;
	}
}