//斷點
@mixin pad {
    @media (max-width:768px) {
        @content
    }
}

@mixin mobile {
    @media (max-width:414px) {
        @content
    }
}

@mixin iphone8{
    @media (max-width:375px) {
        @content
    }
}

@mixin iphonese {
    @media (max-width:320px) {
        @content
    }
}

//容器
.container{
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
    @include pad{
        max-width: 720px;
    }
    @include mobile{
        max-width: 414px;
    }
    @include iphone8{
        max-width: 375px;
    }
}


