//display
.d{
    &-flex{
        display: flex;
    }
    &-none{
        display: none;
    }
    &-block{
        display: block;
    }
}

//flex
.flex-wrap{
    flex-wrap: wrap;
}
.space-between{
	justify-content: space-between;
}
.content-center{
    justify-content: center;
}
.items-center{
	align-items: center;
}

//color
.primary{
    color: $primary;
    }
.secondary{
    color: $secondary;
}
.white{
    color: $white;
}
.gray-600{
    color: $gray-600;
}
.gray-500{
    color: $gray-500;
}
.gray-300{
    color: $gray-300;
}

//bg-color
.bg-brown{
    background-color: $brown;
}
.bg-orange{
    background-color: $orange;
}

//size
.font{
    &-sm{
        font-size: $size-sm;  //14
    }
    &-md{
        font-size: $size-md;  //20
    }
    &-lg{
        font-size: $size-lg;  //24
    }
    &-xl{
        font-size: $size-xl;  //28
    }
    &-2xl{
        font-size: $size-2xl;  //32
    }
    &-3xl{
        font-size: $size-3xl;  //36
    }
    &-4xl{
        font-size: $size-4xl;  //42
    }
    &-5xl{
        font-size: $size-5xl;  //48
    }
}

.font-bold{
	font-weight: bold;
}
.text-center{
    text-align: center;
}

//spacing
.mb{
    &-1{
        margin-bottom: $size-3sm;   //8
    }
    &-2{
        margin-bottom: $size-2sm;  //12
    }
    &-3{
        margin-bottom: $size-base; //16
    }
    &-4{
        margin-bottom: $size-md;  //20
    }
    &-5{
        margin-bottom: $size-lg;  //24
    }
    &-6{
        margin-bottom: $size-2xl;  //32
    }
    &-7{
        margin-bottom: $size-3xl;  //36
    }
}


