//color
$primary: #650300;
$secondary: #AA0601;

$white: #ffffff;
$orange: #B75929;
$brown: #5F3E2D;
$red: #9F1213;
$pink: #AA06010D;
$gray-600: #212529;
$gray-500: #555555;
$gray-400: #6C6C6C;
$gray-300: #707070;
$gray-200: #F2F2F2;
$gray-100: #DCDCDC;

//size
$size-base: 16px;
$size-3sm: $size-base * 0.5;  //8px
$size-2sm: $size-base * 0.75;  //12px
$size-sm: $size-base * 0.875;  //14px
$size-md: $size-base * 1.25;  //20px
$size-lg: $size-base * 1.5;  //24px
$size-xl: $size-base * 1.75;  //28px
$size-2xl: $size-base * 2;  //32px
$size-3xl: $size-base * 2.25;  //36px
$size-4xl: $size-base * 2.625;  //42px
$size-5xl: $size-base * 3;  //48px

